## Analytics Vidhya - 12 Data Wrangling Techniques

https://www.analyticsvidhya.com/blog/2016/01/12-pandas-techniques-python-data-manipulation/?

----

In [21]:
import numpy as np
import pandas as pd
data = pd.read_csv('Loan_Prediction.csv', index_col = 'Loan_ID')
data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Loan_ID,,,,,,,,,,,,
LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

## 1 â€“ Boolean Indexing in Pandas

What do you do, if you want to filter values of a column based on conditions from another set of columns from a Pandas Dataframe? For instance, we want a list of all females who are not graduates and got a loan. Boolean indexing can help here. You can use the following code:

In [19]:
data.loc[(data['Education'] != 'Graduate') & (data['Gender'] == 'Female') & (data['Loan_Status'] == 'Y'), ['Gender', 'Education', 'Loan_Status']]

     Gender     Education Loan_Status
50   Female  Not Graduate           Y
197  Female  Not Graduate           Y
205  Female  Not Graduate           Y
279  Female  Not Graduate           Y
403  Female  Not Graduate           Y
407  Female  Not Graduate           Y
439  Female  Not Graduate           Y
463  Female  Not Graduate           Y
468  Female  Not Graduate           Y
480  Female  Not Graduate           Y
493  Female  Not Graduate           Y
534  Female  Not Graduate           Y
544  Female  Not Graduate           Y
587  Female  Not Graduate           Y

In [30]:
data[(data['Education'] != 'Graduate') & (data['Gender'] == 'Female') & (data['Loan_Status'] == 'Y')].shape

(14, 12)

## 2 â€“ Apply Function in Pandas

It is one of the commonly used Pandas functions for manipulating a pandas dataframe and creating new variables. Pandas Apply function returns some value after passing each row/column of a data frame with some function. The function can be both default or user-defined. For instance, here it can be used to find the #missing values in each row and column.

In [34]:
# Create the function to find number of missing values in the passed series :
def num_missing(x):
    return sum(x.isnull())

# Applying per column :
print("Missing Values per column")
print(data.apply(num_missing, axis = 0))

#Applying per row :
print("Missing Values per row")
data.apply(num_missing, axis = 1).head()

Missing Values per column
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64
Missing Values per row

Loan_ID
LP001002    1
LP001003    0
LP001005    0
LP001006    0
LP001008    0
dtype: int64

## 3 â€“ Imputing missing values using Pandas

â€˜fillna()â€™ does it in one go. It is used for updating missing values with the overall mean/mode/median of the column. Letâ€™s impute the â€˜Genderâ€™, â€˜Marriedâ€™ and â€˜Self_Employedâ€™ columns with their respective modes.

In [38]:
#First we import scipy function to determine the mode
from scipy.stats import mode

mode(data['Gender'])
mode(data['Gender']).mode[0]

'Male'

In [40]:
#Impute the values:
data['Gender'].fillna(mode(data['Gender']).mode[0], inplace=True)
data['Married'].fillna(mode(data['Married']).mode[0], inplace=True)
data['Self_Employed'].fillna(mode(data['Self_Employed']).mode[0], inplace=True)

#Now check the #missing values again to confirm:
print(data.apply(num_missing, axis=0))

Gender                0
Married               0
Dependents           15
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64