## Padas Introduction

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

### Hands on!

In [2]:
import pandas as pd
import numpy as np

### Pandas Series

__"The group of Seven"__ : Canada, France, Germany, Italy, Japan, UK, USA

In [3]:
#In Millions
g7_pop = pd.Series([35.123, 63.951, 88.940, 68.665, 127.831, 54.551, 318.523])

In [4]:
g7_pop

0     35.123
1     63.951
2     88.940
3     68.665
4    127.831
5     54.551
6    318.523
dtype: float64

In [5]:
g7_pop.name = 'G7 Population'

In [6]:
g7_pop.values

array([ 35.123,  63.951,  88.94 ,  68.665, 127.831,  54.551, 318.523])

In [7]:
g7_pop[1]

63.951

In [9]:
g7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [10]:
g7_pop.index = [
    'Canada',
    'France', 
    'Germany', 
    'Italy', 
    'Japan', 
    'UK', 
    'USA'
]

In [11]:
g7_pop

Canada      35.123
France      63.951
Germany     88.940
Italy       68.665
Japan      127.831
UK          54.551
USA        318.523
Name: G7 Population, dtype: float64

### Indexing

In [12]:
g7_pop['France']

63.951

In [13]:
g7_pop.iloc[0]

35.123

In [15]:
g7_pop[['Italy','UK']]

Italy    68.665
UK       54.551
Name: G7 Population, dtype: float64

In [4]:
import pandas as pd
csv_url = "https://raw.githubusercontent.com/datasets/gdp/master/data/gdp.csv"

df = pd.read_csv(csv_url)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11507 entries, 0 to 11506
Data columns (total 4 columns):
Country Name    11507 non-null object
Country Code    11507 non-null object
Year            11507 non-null int64
Value           11507 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 359.7+ KB

In [5]:
df.head()

  Country Name Country Code  Year         Value
0   Arab World          ARB  1968  2.576068e+10
1   Arab World          ARB  1969  2.843420e+10
2   Arab World          ARB  1970  3.138550e+10
3   Arab World          ARB  1971  3.642691e+10
4   Arab World          ARB  1972  4.331606e+10

In [6]:
df.to_csv('out.csv', index=None)